td {
    word-break: break-all;
}

body {
    font-family: Arial;
    font-size: 12px;
}

text {
    font-size: 12px !important;
}

.navbar-nav > li > a {
    color: #15a9df !important
}

.btn-primary {
    background-color: #15a9df !important;
    margin-right: 15px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    float: right;
}

    .btn-primary:hover {
        color: rgb(199, 199, 199);
    }

.title-main {
    background-color: rgb(255, 255, 255) !important;
    padding-left: 0px;
}

/* 237 */
div.dt-buttons {
    float: right;
    background-image: -webkit-linear- none !important;
    background-image: none !important;
}

.csTable tr:nth-child(odd) {
    background-color: #eaeaea;
    color: #000;
}

.csTable {
    border: 1px solid #cccccc;
}

    .csTable tr:nth-child(even) {
        background-color: #fff;
        color: #000;
    }

    .csTable td,
    .csTable th {
        padding-right: 10px;
        height: 30px;
        font-size: 14px;
        padding-left: 10px;
    }



#dialog-form > fieldset > input {
    width: 90% !important;
}

.ui-dialog .ui-dialog-content {
    overflow: hidden !important;
}

fieldset {
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 11px;
}

.csDialogRow {
    border: 1px solid black;
    clear: both;
}

    .csDialogRow > label {
        width: 120px;
        float: left !important;
        border: 1px solid black;
    }

    .csDialogRow > input {
        width: 440px !important;
        float: left !important;
        border: 1px solid black;
        margin-left: 0px !important;
        margin-top: 0px !important;
        padding-left: 5px !important;
    }

.row > input:not([type|=radio]):not([type|=checkbox]) {
    padding-left: 5px !important;
}

.row > table > tbody > tr > td > input:not([type|=radio]):not([type|=checkbox]) {
    padding-left: 5px !important;
}

select {
    border: 1px solid rgb(221, 221, 221) !important;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    margin-bottom: 5px;
    height: 35px;
    font-size: 16px;
}

body.landscape > .toolbar > h1 {
    width: 350px !important;
}

.csSearch > tbody > tr > td {
    padding-left: 20px;
}

.csTData {
    text-align: center;
    font-size: 13px;
}

.csTDataAmt {
    text-align: right;
    padding-right: 5px;
    font-size: 13px;
}

.csCheckBox {
    width: 20px !important;
}

.download_Button {
    justify-content: center;
    display: flex;
}
body {
    font-family: Raleway;
}

label {
    font-weight: 10 !important;
    font-size: 16px;
    text-transform: none;
    font-family: Raleway;
    margin-bottom: 0rem;
    letter-spacing: 0px;
}


.btn-outline-info:hover {
    background-color: transparent;
    color: #000;
    border-color: #17a2b8;
}

.btn-outline-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.table-info,
.table-info > td,
.table-info > th {
    background-color: #15a9df;
}

.toolbar {
    padding: 20px;
    border: solid 1px lightgray;
    
}

.toolbarButton {
    padding: 8px;
    border: solid 1px lightgray;
}

.searchButton{
    margin:10px;
}

span {
    font-weight: 10 !important;
    font-family: Raleway;
}

.input-group > .form-control:focus {
    outline: none !important;
    border-color: #15a9df;
    box-shadow: 0 0 10px #15a9df;
}

h2,
th {
    text-transform: none;
    font-family: Raleway;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #15a9df;
}


/*
            td.details-control {
               background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;

                cursor: pointer;
            }*/



td.details-control:after {
    content: "\f055"; /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    padding-left: 10px !important;
    vertical-align: middle;
    color: green;
}

tr.shown td.details-control:after {
    /*background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;*/
    content: "\f056"; /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    padding-left: 10px !important;
    vertical-align: middle;
    cursor: pointer;
    color: red;
}

th, td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    margin: 0 auto;
}


.innerTable {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}
