@*@Scripts.Render("~/bundles/jquery")*@
@*@Scripts.Render("~/bundles/bootstrap")*@
@*@Scripts.Render("~/Scripts/ForcasteReport.js")*@
<html>
<head>

    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    @Styles.Render("~/Styles/Home.css")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>





    <script>
        var ServerData = null;
        var selectstr = null;
        var RcvedJobs = null;
        var prepedReturnArr = [];

        $(document).ready(function () {

            ServerData = $("#customInput").data("value");
            console.log("data first we have", ServerData)
            ServerData.forEach(elm => {
                selectstr = selectstr + `<option>` + elm + `</option>`

            })


            $(".selectpicker")
                .html(selectstr)
                .selectpicker('refresh');



            $("select.jobs").change(function () {
                var selectedJobs = new Array();
                $("option:selected").each(function () {
                    selectedJobs.push($(this).val());
                });
                selectstr = selectedJobs.toString();

                $('#btnGet').prop('disabled', false);
                if (selectstr.length == 0) {
                    $('#btnGet').prop('disabled', true);
                }
                $("#clear_addon").on("click", function () {
                    $(".selectpicker").prop('selectedIndex', -1)
                    $('.selectpicker').selectpicker('refresh');
                    selectstr = [];
                    $('#btnGet').prop('disabled', true);



                })
            });

            $('select').selectpicker();
            $('.selectpicker').selectpicker('refresh');

            //on click the search button it does ajax and calls draw table
            $("#btnGet").click(function () {
                $.ajax({
                    async: "true",
                    type: "POST",
                    url: "/Home/RcvJobs",
                    data: JSON.stringify({ jb: selectstr }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        RcvedJobs = response
                        drawTable(RcvedJobs);
                        console.log("data we need ", RcvedJobs)
                        console.log("data we have ", ServerData)
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            //initialize tabel here on ready
            var table = $('#GlazingReport').DataTable({
                //"data": input,
                select: "single",
                "searching": false,
                "paging": false,
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                    },
                    { "data": "job" },


                ],
                "order": [[1, 'asc']]
            });


            //click on data tabel row
            $('#GlazingReport tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var tdi = tr.find("i.fa");
                var row = table.row(tr);

                //prepReturnArr(tr[0].innerHTML.substring(56, 59), prepedReturnArr)

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tdi.first().removeClass('fa-minus-square');
                    tdi.first().addClass('fa-plus-square');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    tdi.first().removeClass('fa-plus-square');
                    tdi.first().addClass('fa-minus-square');
                }
            });

        });

        //inside the RcvedJobs we have job floor and tags but for showing them to user we have to group them just by job  ==> not floor not tag
        function getUniqDataForJob(input) {
            var input_ = JSON.parse(JSON.stringify(input))
            var output = [];

            input_.forEach(elm => {
                var flag = true;
                output.forEach(elm2 => {
                    if (elm.job == elm2.job) {
                        flag = false;
                    }
                })

                if (flag) {
                    output.push(elm);
                }
            })
            return output;
        }

        function getUniqDataForAllJobFloor(input) {

            var input_ = JSON.parse(JSON.stringify(input))
            var output = [];

            input_.forEach(elm => {
                var flag = true;
                output.forEach(elm2 => {
                    if (elm.job == elm2.job && elm.floor == elm2.floor) {
                        flag = false;
                    }
                })
                if (flag) {
                    output.push({ job: elm.job, floor: elm.floor, checked: "" });
                }
            })
            return output;
        }


        function drawTable(input) {
            prepedReturnArr = getUniqDataForAllJobFloor(input)
            $('#GlazingReport').DataTable().clear();
            $('#GlazingReport').DataTable().rows.add(getUniqDataForJob(input)).draw();
        }

        //click on green plus on each rows in tabel trigers this function
        function format(d) {
            //var Internall = [];
            //console.log("data in RcvedJobs", RcvedJobs)
            //console.log("before", prepedReturnArr)

            // `d` is the original data object for the row
            var temp = '<table style="padding: 0.5%; border: 1px solid #ccc;   border-radius: 3px;margin-left: 1%;margin-right: 1%;"><thead><tr><th>FLOORS</th><th><input onclick="selectall(this)" value="' + d.job + '"   type="checkbox"> select all</th></tr></thead> <tbody>	';

            prepedReturnArr.forEach(elm => {
                if (elm.job == d.job) {
                    temp = temp + '<tr><td>' + elm.floor + '</td><td class="c"><input onclick="selectsingle(this)"  class="' + elm.job + ' " value=' + JSON.stringify(elm) + ' type="checkbox" ' + elm.checked + '></td></tr>'
                }
            })
            temp = temp + ' </tbody></table>'
            //console.log("after", prepedReturnArr)
            return temp
        }

        function serach() {

        }
        //select or deselect all floors for one job
        function selectall(input) {

            for (item of document.getElementsByClassName(input.value)) {
                if (input.checked == true) {
                    item.checked = true;
                }
                if (input.checked == false) {
                    item.checked = false;
                }
            }


            prepedReturnArr.forEach(elm => {

                if (elm.job == input.value) {

                    if (input.checked == true) {
                        elm.checked = "checked";
                    }
                    if (input.checked == false) {
                        elm.checked = "";
                    }
                }
            })
            console.log(prepedReturnArr)
        }
        //if user clicks on every single floor it loops throw prepedReturnArr and changes the status of the checked property
        function selectsingle(input) {

            var temp = JSON.parse(input.value);

            prepedReturnArr.forEach(elm => {
                if (elm.job == temp.job && elm.floor == temp.floor) {
                    if (input.checked == false) {
                        elm.checked = "";
                    }
                    if (input.checked == true) {
                        elm.checked = "checked"
                    }
                }
            })
            console.log(prepedReturnArr)
        }



    </script>

    <style>
        td.details-control {
            background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
        }
    </style>

</head>
<body>
    <div class="header-banner-small"></div>
    <nav class="navbar-white navbar-nobottom navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html#_Report">
                <img src="~/Content/images/full-logo.png" class="App-logo"
                     alt="logo">
            </a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".bsNavCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </nav>
    <select id="ddlJobs" class="selectpicker jobs " data-live-search="true" multiple>
    </select>
    <button class="btn btn-danger btn-sm" id="clear_addon">X</button>
    <button class="btn btn-danger" id="btnGet" disabled>SEARCH</button>
    <label class="checkbox-inline">
        <input id="Line1" type="checkbox" style="color:black; font:Arial" value="1111" checked>Swing Door
    </label>
    <label class="checkbox-inline">
        <input id="Line1" type="checkbox" style="color:black; font:Arial" value="1111" checked>Awning
    </label>
    <label class="checkbox-inline">
        <input id="Line1" type="checkbox" style="color:black; font:Arial" value="1111" checked>Shift
    </label>
    <label class="checkbox-inline">
        <input id="Line1" type="checkbox" style="color:black; font:Arial" value="1111" checked>R3
    </label>
    <label class="checkbox-inline">
        <input id="Line1" type="checkbox" style="color:black; font:Arial" value="1111" checked>Spandrel
    </label>
    <label class="checkbox-inline">
        <input id="Line1" type="checkbox" style="color:black; font:Arial" value="1111" checked>Shadowbox
    </label>

    <div>

        <table id="GlazingReport" class="cell-border compact stripe">
            <thead>
                <tr style="background-color: #CCCCCC;border: solid 1px #555555;">
                    <th></th>
                    <th>JOB</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <button onclick="serach()">Search</button>
    <input type="hidden" id="customInput" data-value="@ViewBag.json" />
</body>

</html>













